::ng-deep nb-auth nb-card-header { display: none !important; }
::ng-deep nb-auth nb-card-body {
 //background-image: url('assets/images/background.jpg');
 background: linear-gradient(
  0deg, rgba(0, 0, 0, 0.6), #0b611e), url('assets/images/background.jpg') !important;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.form-bloc {
  background: #ffffff;
  padding: 20px;
  box-shadow: 1px 1px 7px 1px #4e4f4c;
}

.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
   /*padding: 0!important;*/
}