<nb-card>
  <nb-card-header>

  </nb-card-header>

  <nb-card-body [nbSpinner]="loading"
                nbSpinnerStatus="danger"
                nbSpinnerSize="large"
                nbSpinnerMessage="Traitement en cours...">
    <div class="form-row">
      <div class="form-group text-left">
        <button
          type="button"
          class="btn btn-primary"
          (click)="createProgram()">
          Enregistrer un programme
        </button>
      </div>
      <div class="form-group col-md-6 text-center">
      </div>
    </div>

    <p>Liste des programmes</p>

    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Classe</th>
        <th scope="col">Matiere</th>
        <th scope="col">Coefficient</th>
        <th scope="col">Enseignant</th>
        <th scope="col">Plage horaire</th>
        <th scope="col">Annee scolaire</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let program of programs; let i = index">
        <th scope="row">{{(page - 1) * pageSize + i}}</th>
        <td>{{ program.classe.name}}</td>
        <td>{{ program.matiere.name }}</td>
        <td>{{ program.coef }}</td>
        <td>{{ program.teacher.first_name }} {{ program.teacher.last_name }}</td>
        <td>{{ program.time_slot.from_hour }} - {{ program.time_slot.to_hour }}</td>
        <td>{{ program.school_year.from_year }} - {{ program.school_year.to_year }}</td>
        <td>
          <button type="button" class="btn btn-outline-primary btn-sm"  (click)="edit(program.id)">
            <i class="fa fa-check-circle"></i> Modifier
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm ml-1" (click)="open(dialog, program)">
            <i class="ion-close-circled"></i> Supprimer
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="data.length" [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="20">20 per page</option>
        <option [ngValue]="40">40 per page</option>
        <option [ngValue]="60">60 per page</option>
      </select>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Dialogue de Confirmation</nb-card-header>
    <nb-card-body>Voulez vous vraiment effectuer cette action?</nb-card-body>
    <nb-card-footer>
        <button type="button" class="btn btn-outline-primary btn-sm w-25" (click)="delete()">Oui</button>
        <button type="button" class="btn btn-outline-danger btn-sm ml-1 w-25"
                (click)="ref.close()">Non</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
