<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Formulaire d'enregistrement news</nb-card-header>

      <nb-card-body [formGroup]="messageForm" [nbSpinner]="loading"
                    nbSpinnerStatus="danger"
                    nbSpinnerSize="large"
                    nbSpinnerMessage="Enregistrement en cours...">
        <nb-alert *ngFor="let error of errors" status="warning" closable (close)="onClose(error)">
          <strong>Warning!</strong> {{error}}.
        </nb-alert>
        <div class="full-name-inputs">
          <div class="form-group col-md-12">
            <label class="label" for="subject">Contenu</label>
            <input type="text" id="subject" class="form-control" nbInput fullWidth placeholder="subject"
                 formControlName="body">
          </div>
        </div>

     

        <div class="full-name-inputs">
          <div class="form-group col-md-12">
            <label class="label" for="type">Status</label>
            <select id="type" class="form-control"  formControlName="status">
              <option value="new">new</option>
              <option value="sended">sended</option>
              <option value="readed">readed</option>
             
            </select>
          </div>
        </div>

        <div class="full-name-inputs">
          <div class="form-group col-md-12">
            <label class="label" for="type">Type</label>
            <select id="type" class="form-control"  formControlName="type">
              
              <option value="original">original</option>
              <option value="updated">updated</option>
             
            </select>
          </div>
        </div>
        
        <div class="full-name-inputs">
          <div class="form-group col-md-12">
            <label class="label" for="subject">Ecris par</label>
            <input type="number" id="subject" class="form-control" nbInput fullWidth placeholder="chat user_id"
                 formControlName="chat_user_id">
          </div>
        </div>
        
        <hr/>

       
       
      

        <hr/>
        <div class="form-row">
          <div class="form-group col-md-6 text-center">
            <button type="button" class="AppButton btn-yellow w-50"
                    (click)="cancel()">
              Annuler</button>
          </div>
          <div class="form-group col-md-6 text-center">
            <button
              type="button"
              class="AppButton btn-blue w-50"
              (click)="save()"
            >
              Enregistrer
            </button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12">
        <nb-card>
          <nb-card-header>Ressources connexes</nb-card-header>
    
          <div class="full-name-inputs">
            <div class="form-group col-md-12">
              <hr>
              <label class="label" for="registration_number">Utilisateur</label>
              <input type="text" id="registration_number" class="form-control" nbInput fullWidth placeholder="utilisateur chat"
                    (keyup)="onKey($event)" value="{{resultat}}" #search>

                   <div class="col-md-12">
                    <ng-container *ngIf="inptShow">
                      <div class="show_search">
                        <ng-container *ngFor="let chat_user of chat_search"> 
                            <div><p class="text-secondary mb-1" (click)="click_Show(chat_user.user.full_name,chat_user.id)"> {{chat_user.user.full_name}}</p></div>
                        </ng-container>
                      </div>
                    </ng-container>
                   </div>
                
            </div>
          
          </div>


          
        </nb-card>
      </div>

      <div class="col-lg-12">
        <nb-card>
          <nb-card-header>Relié par des ressources</nb-card-header>
    
          <div class="full-name-inputs">
            <div class="form-group col-md-12">
             <hr>
             <hr>
            </div>
          
          </div>
        </nb-card>
      </div>
    </div>
    
  </div>
</div>
