<div class="row">
  <div class="col-lg-10" [nbSpinner]="loading"
       nbSpinnerStatus="danger"
       nbSpinnerSize="large"
       nbSpinnerMessage="Traitement en cours...">
    <nb-card>
      <nb-card-header>Gestion des resultats annuels d'une classe</nb-card-header>

      <nb-card-body [formGroup]="resultatForm">
        <nb-alert *ngFor="let error of errors" status="warning" closable (close)="onClose(error)">
          <strong>Warning!</strong> {{error}}.
        </nb-alert>
        <div class="full-name-inputs">
          <div class="form-group col-md-6">
            <label class="label" for="classe_id">Classe</label>
            <select id="classe_id" class="form-control"  formControlName="classe_id">
              <option value="{{c.id}}" *ngFor="let c of classes">{{c.name}}</option>
            </select>
          </div>
        </div>

        <hr />
        <div class="form-row">
          <div class="form-group col-md-6 text-center">
            <button
              type="button"
              class="AppButton btn-blue w-50"
              (click)="calculResultat()">
              Generer les resultats
            </button>
          </div>
          <div class="form-group col-md-6 text-center">
            <button
              type="button"
              class="AppButton btn-blue w-50"
              (click)="orderResultat()">
              Generer le classement
            </button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <div>
      <div>Liste des eleves</div>
      <table class="table smal_table_ligne">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Matricule</th>
          <th scope="col">Point</th>
          <th scope="col">Coefficient</th>
          <th scope="col">Moyenne</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let rs of resultat_annuelles; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>{{rs.student.first_name}}</td>
          <td>{{rs.student.last_name}}</td>
          <td>{{rs.student.registration_number}}</td>
          <td><b>{{rs.point}}</b></td>
          <td><b>{{rs.coef}}</b></td>
          <td><b>{{rs.moyenne}}</b></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
