<div class="row">
  <div class="col-lg-10">
    <nb-card>
      <nb-card-header>Formulaire d'enregistrement d'une matiere</nb-card-header>

      <nb-card-body [formGroup]="matiereForm" [nbSpinner]="loading"
                    nbSpinnerStatus="danger"
                    nbSpinnerSize="large"
                    nbSpinnerMessage="Enregistrement en cours...">
        <nb-alert *ngFor="let error of errors" status="warning" closable (close)="onClose(error)">
          <strong>Warning!</strong> {{error}}.
        </nb-alert>
        <div class="full-name-inputs">
          <div class="form-group col-md-6">
            <label class="label" for="code">Code</label>
            <input type="text" id="code" class="form-control" nbInput fullWidth placeholder="code"
                 formControlName="code">
          </div>
          <div class="form-group col-md-6">
            <label class="label" for="name">Nom</label>
            <input type="text" id="name" class="form-control" nbInput fullWidth placeholder="name"
                   formControlName="name">
          </div>
        </div>

        <hr />
        <div class="form-row">
          <div class="form-group col-md-6 text-center">
            <button type="button" class="AppButton btn-yellow w-50"
                    (click)="cancel()">
              Annuler</button>
          </div>
          <div class="form-group col-md-6 text-center">
            <button
              type="button"
              class="AppButton btn-blue w-50"
              (click)="save()"
            >
              Enregistrer
            </button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
