<div class="row">
  <div class="col-sm-12">
    <div class="float-left">
  
      <span class="design-span-title">    
        <span class="desin-titre">Student</span> 
      
        
      </span>
     
    </div>
    <div class="float-right">
      <nav aria-label="breadcrumb" class="float-right">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/"><i class="feather icon-crosshair"></i>Accueil</a></li>
          <li class="breadcrumb-item"><a href="javascript:">liste student</a></li>
         
        </ol>
      </nav>
    </div>
  
    
  </div>
</div>

<nb-card>
  <nb-card-header>

  </nb-card-header>

  <nb-card-body [nbSpinner]="loading"
                nbSpinnerStatus="danger"
                nbSpinnerSize="large"
                nbSpinnerMessage="Traitement en cours...">
    <div class="form-row">
      <div class="form-group text-left">
        <button
          type="button"
          class="btn btn-primary"
          (click)="createStudent()">
          <i class="ion-plus"></i> AJouter
        </button>
      </div>
      <div class="form-group col-md-6 text-center">
      </div>
    </div>

    <p>Liste des eleves</p>

    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th> 
        <th scope="col">Matricule</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Sexe</th>

        <th scope="col">Date de naissance</th>
        <th scope="col">Telephone du tuteur</th>
        <th scope="col">Tuteur</th>
        <th scope="col">Picture</th>
        <th scope="col">Modifie le</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students; let i = index">
        <th scope="row">{{student.id}}</th>
        <td>{{ student.registration_number}}</td>
        <td>{{ student.first_name }}</td>
        <td>{{ student.last_name }}</td>
        <td>{{ student.gender }}</td>

        <td>{{ student.birth_date }}</td>
        <td>{{ student.tutor_phone_number }}</td>
        <td *ngIf="student.tutor">{{ student.tutor.first_name }}</td>
        <td *ngIf="!student.tutor">-</td>
       
        <td (click)="openInNewTab(student.tutor.picture)">
          <img [src]="student.picture" class="mr-2" style="width: 20px">
        </td>
        <td>{{ student.updated_at }}</td>
        <td>
          <div class="buttons-row design-btn-action">
            <button  type="button"
            class="btn btn-info" hero (click)="show(student.id)">
              <i class="ion-search"></i> 
            </button>
            <button  type="button"
            class="btn btn-warning" hero (click)="edit(student.id)">
              <i class="ion-edit text-white"></i> 
            </button>
            <button  type="button"
            class="btn btn-danger" hero (click)="open(dialog, student)">
              <i class="ion-trash-a"></i> 
            </button>
          
          </div>
          
        </td>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="data.length" [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="10">10 per page</option>
        <option [ngValue]="20">20 per page</option>
        <option [ngValue]="40">40 per page</option>
      </select>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Dialogue de Confirmation</nb-card-header>
    <nb-card-body>Voulez vous vraiment effectuer cette action?</nb-card-body>
    <nb-card-footer>
        <button type="button" class="btn btn-outline-primary btn-sm w-25" (click)="delete()">Oui</button>
        <button type="button" class="btn btn-outline-danger btn-sm ml-1 w-25"
                (click)="ref.close()">Non</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
