@import '../../@theme/styles/themes';
.nb-theme-default [nbInput].size-medium {
    font-size: .9375rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 1.4375rem 1rem!important;
}

.nb-theme-default [nbInput] {
    /* background-color: #6d7384; */
    border-color: #787d8d6e;
    color: #222b45;
}

.nb-theme-default [nbInput].shape-rectangle {
    border-color: #787d8d6e!important;
}

