
<div class="row">
  <div class="col-sm-12">
    <div class="float-left">
  
      <span class="design-span-title">    
        <span class="desin-titre">note: </span> 
      
        
      </span>
     
    </div>
    <div class="float-right">
      <nav aria-label="breadcrumb" class="float-right">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/"><i class="feather icon-crosshair"></i>Accueil</a></li>
          <li class="breadcrumb-item"><a href="javascript:">note </a></li>
          <li class="breadcrumb-item"><a href="javascript:">formulaire</a></li>
        </ol>
      </nav>
    </div>
  
    
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Formulaire d'enregistrement d'une absence</nb-card-header>

      <nb-card-body [formGroup]="noteForm" [nbSpinner]="loading"
                    nbSpinnerStatus="danger"
                    nbSpinnerSize="large"
                    nbSpinnerMessage="Enregistrement en cours...">
        <nb-alert *ngFor="let error of errors" status="warning" closable (close)="onClose(error)">
          <strong>Warning!</strong> {{error}}.
        </nb-alert>
        <div class="full-name-inputs">
          <div class="form-group col-md-12">
            <label class="label" for="registration_number">Année scolaire</label>
            <input type="text" id="registration_number" class="form-control" nbInput fullWidth placeholder="school_year_id"
                 formControlName="school_year_id">
          </div>
        </div>
        <div class="full-name-inputs">
          <div class="form-group col-md-12">
            <label class="label" for="registration_number">Eleve</label>
            <input type="text" id="registration_number" class="form-control" nbInput fullWidth placeholder="student_id"
                 formControlName="student_id">
          </div>
        </div>
        <div class="full-name-inputs">
          <div class="form-group col-md-12">
            <label class="label" for="registration_number">Matiere</label>
            <input type="text" id="registration_number" class="form-control" nbInput fullWidth placeholder="matiere_id"
                 formControlName="matiere_id">
          </div>
        </div>
        <div class="full-name-inputs">
          <div class="form-group col-md-12">
            <label class="label" for="registration_number">Sequence</label>
            <input type="text" id="registration_number" class="form-control" nbInput fullWidth placeholder="sequence_id"
                 formControlName="sequence_id">
          </div>
        </div>
        <div class="full-name-inputs">
          <div class="form-group col-md-12">
            <label class="label" for="registration_number">Type devoir </label>
            <input type="text" id="registration_number" class="form-control" nbInput fullWidth placeholder="assessment_type"
                 formControlName="assessment_type_id">
          </div>
        </div>
        <div class="full-name-inputs">
          <div class="form-group col-md-12">
            <label class="label" for="registration_number">Note</label>
            <input type="text" id="registration_number" class="form-control" nbInput fullWidth placeholder="note"
                 formControlName="note">
          </div>
        </div>
   
        <hr />
        <div class="form-row">
          <div class="form-group col-md-6 text-center">
            <button type="button" class="AppButton btn-yellow w-50"
                    (click)="cancel()">
              Annuler</button>
          </div>
          <div class="form-group col-md-6 text-center">
            <button
              type="button"
              class="AppButton btn-blue w-50"
              (click)="save()"
            >
              Enregistrer
            </button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12">
        <nb-card>
          <nb-card-header>Ressources connexes</nb-card-header>
    
          <div class="full-name-inputs">
            <div class="form-group col-md-12">
              <hr>
              <label class="label" for="registration_number">Eleves</label>
              <input type="text" id="registration_number" class="form-control" nbInput fullWidth placeholder="eleve"
                    (keyup)="onKey1($event)" value="{{resultat1}}" #search>

                   <div class="col-md-12">
                    <ng-container *ngIf="inptShow1">
                      <div class="show_search">
                        <ng-container *ngFor="let student of student_search1"> 
                            <div><p class="text-secondary mb-1" (click)="click_Show1(student.full_name,student.id)"> {{student.full_name}}</p></div>
                        </ng-container>
                      </div>
                    </ng-container>
                   </div>
                  
            </div>
          
          </div>

          <div class="full-name-inputs">
            <div class="form-group col-md-12">
            
              <label class="label" for="registration_number">Année scolaire</label>
              <input type="text" id="registration_number" class="form-control" nbInput fullWidth placeholder="Année scolaire"
                    (keyup)="onKey2($event)" value="{{resultat2}}" #search>

                   <div class="col-md-12">
                    <ng-container *ngIf="inptShow2">
                      <div class="show_search">
                        <ng-container *ngFor="let school of school_year_search2"> 
                            <div><p class="text-secondary mb-1" (click)="click_Show2(school.from_year,school.id)"> {{school.from_year}}-{{school.to_year}}</p></div>
                        </ng-container>
                      </div>
                    </ng-container>
                   </div>
                   
            </div>
          
          </div>


          <div class="full-name-inputs">
            <div class="form-group col-md-12">
              
              <label class="label" for="registration_number">Matière</label>
              <input type="text" id="registration_number" class="form-control" nbInput fullWidth placeholder="Matière"
                    (keyup)="onKey3($event)" value="{{resultat3}}" #search>

                   <div class="col-md-12">
                    <ng-container *ngIf="inptShow3">
                      <div class="show_search">
                        <ng-container *ngFor="let matiere of matieres_search"> 
                            <div><p class="text-secondary mb-1" (click)="click_Show3(matiere.name,matiere.id)"> {{matiere.name}}</p></div>
                        </ng-container>
                      </div>
                    </ng-container>
                   </div>
                  
            </div>
          
          </div>

          <div class="full-name-inputs">
            <div class="form-group col-md-12">
             
              <label class="label" for="registration_number">Sequence</label>
              <input type="text" id="registration_number" class="form-control" nbInput fullWidth placeholder="Sequence"
                    (keyup)="onKey4($event)" value="{{resultat4}}" #search>

                   <div class="col-md-12">
                    <ng-container *ngIf="inptShow4">
                      <div class="show_search">
                        <ng-container *ngFor="let sequence of sequence_search"> 
                            <div><p class="text-secondary mb-1" (click)="click_Show4(sequence.name,sequence.id)"> {{sequence.name}}</p></div>
                        </ng-container>
                      </div>
                    </ng-container>
                   </div>
                  
            </div>
          
          </div>

          <div class="full-name-inputs">
            <div class="form-group col-md-12">
            
              <label class="label" for="registration_number">Type de devoir</label>
              <input type="text" id="registration_number" class="form-control" nbInput fullWidth placeholder="Type de devoir"
                    (keyup)="onKey5($event)" value="{{resultat5}}" #search>

                   <div class="col-md-12">
                    <ng-container *ngIf="inptShow5">
                      <div class="show_search">
                        <ng-container *ngFor="let assessment of assessment_search"> 
                            <div><p class="text-secondary mb-1" (click)="click_Show5(assessment.name,assessment.id)"> {{assessment.name}}</p></div>
                        </ng-container>
                      </div>
                    </ng-container>
                   </div>
                
            </div>
          
          </div>
        </nb-card>
      </div>

      <div class="col-lg-12">
        <nb-card>
          <nb-card-header>Relié par des ressources</nb-card-header>
    
          <div class="full-name-inputs">
            <div class="form-group col-md-12">
             <hr>
             <hr>
            </div>
          
          </div>
        </nb-card>
      </div>
    </div>
    
  </div>
</div>
