
<div class="row">
  <div class="col-sm-12">
    <div class="float-left">
  
      <span class="design-span-title">    
        <span class="desin-titre">Student: NOUVEAU</span> 
      
        
      </span>
     
    </div>
    <div class="float-right">
      <nav aria-label="breadcrumb" class="float-right">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/"><i class="feather icon-crosshair"></i>Accueil</a></li>
          <li class="breadcrumb-item"><a href="javascript:">eleve </a></li>
          <li class="breadcrumb-item"><a href="javascript:">formulaire</a></li>
        </ol>
      </nav>
    </div>
  
    
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Informations principales</nb-card-header>

      <nb-card-body [formGroup]="studentForm" [nbSpinner]="loading"
                    nbSpinnerStatus="danger"
                    nbSpinnerSize="large"
                    nbSpinnerMessage="Enregistrement en cours...">
        <nb-alert *ngFor="let error of errors" status="warning" closable (close)="onClose(error)">
          <strong>Warning!</strong> {{error}}.
        </nb-alert>
        
        <div class="full-name-inputs">
          <div class="form-group col-md-12">
            <label class="label" for="registration_number">Matricule</label>
            <input type="text" id="registration_number" class="form-control" nbInput fullWidth placeholder="matricule"
                 formControlName="registration_number">
          </div>
          <div class="form-group col-md-12">
            <label class="label" for="first_name">Nom</label>
            <input type="text" id="first_name" class="form-control" nbInput fullWidth placeholder="First name"
                 formControlName="first_name">
          </div>
        </div>
        <div class="full-name-inputs">
         

          <div class="form-group col-md-12">
            <label class="label" for="last_name">Prenom</label>
            <input type="text" id="last_name" class="form-control" nbInput fullWidth placeholder="Last Name"
                 formControlName="last_name">
          </div>

          <div class="form-group col-md-12">
            <label class="label" for="tutor_phone_number">Telephone du tuteur</label>
            <input type="text" id="tutor_phone_number" class="form-control" nbInput fullWidth shape="semi-round" placeholder="Tutor's phone"
                   formControlName="tutor_phone_number">
          </div>
        </div>
        <div class="full-name-inputs">
          <div class="form-group col-md-12">
            <label class="label" for="birth_date">Date de naissance</label>
            <input [nbDatepicker]="datepicker" id="birth_date" class="form-control" nbInput fullWidth
                   placeholder="" formControlName="birth_date" fieldSize="medium">
            <nb-datepicker #datepicker></nb-datepicker>
          </div>
          <div class="form-group col-md-12">
            <label class="label" for="birth_place">Lieu de naissance</label>
            <input type="text" id="birth_place" class="form-control" nbInput fullWidth placeholder="birth place"
                 formControlName="birth_place">
          </div>
        </div>
        <div class="full-name-inputs">
          <div class="form-group col-md-12">
            <label class="label" for="gender">Sexe</label>
            <select id="gender" selected="male" class="form-control " nbInput fullWidth  formControlName="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
            
          </div>
          <div class="form-group col-md-12">
            <label class="label" for="picture">Photo de profil</label>
            <input-file
              id="picture"
              fileAccept="image/*"
              fileLimit="1"
              formControlName="picture"
              class="left-rounded right-rounded"
            ></input-file>
          </div>
        </div>

        <hr />
        <div class="form-row">
          <div class="form-group col-md-6 text-center">
            <button type="button" class="AppButton btn-yellow w-50"
                    (click)="cancel()">
              Annuler</button>
          </div>
          <div class="form-group col-md-6 text-center">
            <button
              type="button"
              class="AppButton btn-blue w-50"
              (click)="saveUser()"
            >
              Enregistrer
            </button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12">
        <nb-card>
          <nb-card-header>Ressources connexes</nb-card-header>
    
          <div class="full-name-inputs">
            <div class="form-group col-md-12">
              <label class="label" for="registration_number">Tuteur</label>
              <input type="text" id="registration_number" class="form-control" nbInput fullWidth placeholder="matricule"
                    (keyup)="onKey($event)" value="{{resultat}}" #search>

                   <div class="col-md-12">
                    <ng-container *ngIf="inptShow">
                      <div class="show_search">
                        <ng-container *ngFor="let tutor of tutors_search"> 
                            <div><p class="text-secondary mb-1" (click)="click_Show(tutor.full_name,tutor.id)"> {{tutor.full_name}}</p></div>
                        </ng-container>
                      </div>
                    </ng-container>
                   </div>
            </div>
          
          </div>
        </nb-card>
      </div>

      <div class="col-lg-12">
        <nb-card>
          <nb-card-header>Relié par des ressources</nb-card-header>
    
          <div class="full-name-inputs">
            <div class="form-group col-md-12">
             
            </div>
          
          </div>
        </nb-card>
      </div>
    </div>
    
  </div>
</div>
