@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0!important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }
}

.SitebarTop {
  height: 4rem !important;
  width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  background: white;
  //border-bottom: 1px solid #edeef0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  .nav-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
  }

  .nav-btn {
    padding: 0 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #9ea6b8;
    i {
      cursor: pointer;
    }
  }

  .logo {
    display: flex;
    img {
      width: 29px;
      margin-right: 5px;
    }
    .title {
      font-weight: 900;
      font-size: 12px;
      line-height: 20px;
      color: #3e5066;
      text-transform: uppercase;
    }
    // display: flex;
    align-items: center;
  }

  .right-menu {
    display: flex;
    .item {
      color: #78909c;
      align-items: center;
      display: flex;
      justify-content: center;
      border-left: 1px solid #edeef0;
      padding: 0 25px;
      i {
        font-size: 25px;
      }
      .notification {
        position: relative;
        .count {
          position: absolute;
          top: -9px;
          right: -9px;
          z-index: 1;
          width: 19px;
          height: 19px;
          border-radius: 50%;
          color: white;
          background: #ffb300;
          align-items: center;
          display: flex;
          justify-content: center;
          font-size: 10px;
          line-height: 20px;
        }
      }
      .user-info {
        display: flex;
        align-items: center;
        justify-content: center;
        .avatar {
          width: 30px;
          height: 30px;
          background-position: center;
          border-radius: 50%;
          background-size: cover;
          margin-right: 10px;
        }
        .user-name {
          display: flex;
          flex-direction: column;
          .first-name {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #3e5066;
          }
          .last-name {
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 20px;
            color: #9ea6b8;
          }
        }
      }
    }
  }
}
