<div class="row">
  <div class="col-lg-10">
    <nb-card>
      <nb-card-header>Formulaire d'enregistrement d'un enseignant</nb-card-header>

      <nb-card-body [formGroup]="teacherForm" [nbSpinner]="loading"
                    nbSpinnerStatus="danger"
                    nbSpinnerSize="large"
                    nbSpinnerMessage="Enregistrement en cours...">
        <nb-alert *ngFor="let error of errors" status="warning" closable (close)="onClose(error)">
          <strong>Warning!</strong> {{error}}.
        </nb-alert>
        <div class="full-name-inputs">
          <div class="form-group col-md-6">
            <label class="label" for="registration_number">Registration number</label>
            <input type="text" id="registration_number" class="form-control" nbInput fullWidth placeholder="registration number"
                 formControlName="registration_number">
          </div>
        </div>
        <div class="full-name-inputs">
          <div class="form-group col-md-6">
            <label class="label" for="pin_code">Pin Code</label>
            <input type="text" id="pin_code" class="form-control" nbInput fullWidth placeholder="pin code"
                   formControlName="pin_code">
          </div>
          <div class="form-group col-md-6">
            <label class="label" for="phone_number">phone number</label>
            <input type="text" id="phone_number" class="form-control" nbInput fullWidth shape="semi-round" placeholder="+237675555555"
                   formControlName="phone_number">
          </div>
        </div>
        <div class="full-name-inputs">
          <div class="form-group col-md-6">
            <label class="label" for="first_name">First Name</label>
            <input type="text" id="first_name" class="form-control" nbInput fullWidth placeholder="First name"
                 formControlName="first_name">
          </div>
          <div class="form-group col-md-6">
            <label class="label" for="last_name">Last Name</label>
            <input type="text" id="last_name" class="form-control" nbInput fullWidth placeholder="Last Name"
                 formControlName="last_name">
          </div>
        </div>
        <div class="full-name-inputs">
          <div class="form-group col-md-6">
            <label class="label" for="birth_date">Birth Date</label>
            <input [nbDatepicker]="datepicker" id="birth_date" class="form-control" nbInput fullWidth
                   placeholder="" formControlName="birth_date" fieldSize="medium">
            <nb-datepicker #datepicker></nb-datepicker>
          </div>
          <div class="form-group col-md-6">
            <label class="label" for="title">Title</label>
            <select id="title" class="form-control" fullWidth  formControlName="title">
              <option value="male">Mr</option>
              <option value="female">Mme</option>
            </select>
          </div>
        </div>
        <div class="full-name-inputs">
          <div class="form-group col-md-6">
            <label class="label" for="picture">Photo de profil</label>
            <input-file
              id="picture"
              fileAccept="image/*"
              fileLimit="1"
              formControlName="picture"
              class="left-rounded right-rounded"
            ></input-file>
          </div>
        </div>

        <hr />
        <div class="form-row">
          <div class="form-group col-md-6 text-center">
            <button type="button" class="AppButton btn-yellow w-50"
                    (click)="cancel()">
              Annuler</button>
          </div>
          <div class="form-group col-md-6 text-center">
            <button
              type="button"
              class="AppButton btn-blue w-50"
              (click)="save()"
            >
              Enregistrer
            </button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
