<div class="row">
  <div class="col-sm-12">
    <div class="float-left">
  
      <span class="design-span-title">    
        <span class="desin-titre">note</span> 
      
        
      </span>
     
    </div>
    <div class="float-right">
      <nav aria-label="breadcrumb" class="float-right">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/"><i class="feather icon-crosshair"></i>Accueil</a></li>
          <li class="breadcrumb-item"><a href="javascript:">Note </a></li>
         
        </ol>
      </nav>
    </div>
  
    
  </div>
</div>

<nb-card>
  <nb-card-header>

  </nb-card-header>

  <nb-card-body [nbSpinner]="loading"
                nbSpinnerStatus="danger"
                nbSpinnerSize="large"
                nbSpinnerMessage="Traitement en cours...">
    <div class="form-row">
      <div class="form-group text-left">
        <button
          type="button"
          class="btn btn-primary"
          (click)="createStudent()">
          <i class="ion-plus"></i> AJouter
        </button>
      </div>
      <div class="form-group col-md-6 text-center">
      </div>
    </div>

    <p>Liste des eleves</p>

    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th> 
        <th scope="col">Eleve </th>
        <th scope="col">Matiere</th>
        <th scope="col">Sequence</th>
        <th scope="col">Type de devoir</th>

        <th scope="col">Année scolaire</th>
        <th scope="col">note</th>
        <th scope="col">modifié le </th>

        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let note of notes; let i = index">
        <th scope="row">{{note.id}}</th>
        <td *ngIf="note.student">{{ note.student.first_name }} {{ note.student.last_name }}</td>
        <td *ngIf="!note.student">-</td>
        <td *ngIf="note.matiere">{{ note.matiere.name}}</td>
        <td *ngIf="!note.matiere">-</td>
        <td>{{note.sequence.name }}</td>
        <td>{{ note.assessment_type.name }}</td>
        <td>{{note.school_year.from_year }} - {{note.school_year.to_year }}</td>

        <td>{{ note.note }}</td>
        
       
        <td *ngIf="note.updated_at">{{ note.updated_at }}</td>
        <td *ngIf="!note.updated_at">-</td>
        <td>
          <div class="buttons-row design-btn-action">
            <button  type="button"
            class="btn btn-info" hero (click)="show(note.id)">
              <i class="ion-search"></i> 
            </button>
            <button  type="button"
            class="btn btn-warning" hero (click)="edit(note.id)">
              <i class="ion-edit text-white"></i> 
            </button>
            <button  type="button"
            class="btn btn-danger" hero (click)="open(dialog, note)">
              <i class="ion-trash-a"></i> 
            </button>
          
          </div>
          
        </td>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="data.length" [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="10">10 per page</option>
        <option [ngValue]="20">20 per page</option>
        <option [ngValue]="40">40 per page</option>
      </select>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Dialogue de Confirmation</nb-card-header>
    <nb-card-body>Voulez vous vraiment effectuer cette action?</nb-card-body>
    <nb-card-footer>
        <button type="button" class="btn btn-outline-primary btn-sm w-25" (click)="delete()">Oui</button>
        <button type="button" class="btn btn-outline-danger btn-sm ml-1 w-25"
                (click)="ref.close()">Non</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
